<ion-view hide-nav-bar="false" view-title="{{bus.bus}}">
    <div id="mapContainer" style="height:60%;width:100%"></div>
    <div class="dark-bg" style="height:40%;width:100%">
        <!--<ion-scroll direction="x" class="wide-as-needed">
            <div ng-repeat="arrival in types" style='display: inline-block; margin: 5px;'>
                <a href="" id="anchor{{type}}" scroll-to="anchor{{type}}" class="button inline-button button-clear button-dark">{{type|uppercase}}</a>
            </div>
        </ion-scroll>-->
    </div>
    <ion-footer-bar class="bar button-bar-footer">
        <div class="button-bar">
            <button class="button" ng-click="backNav()">back
      </button>
        </div>
    </ion-footer-bar>

</ion-view>
