<ion-view hide-nav-bar="false" view-title="{{bus.bus}}">
    <div id="mapContainer" style="height:60%;width:100%"></div>
    <div class="dark-bg" style="height:40%;width:100%">
        <ion-scroll direction="x" class="wide-as-needed">
            <div ng-style="arrivalContainer">
                <div class="text-center" ng-repeat="arrival in arrivals" style='display: inline-block; width:40px; vertical-align:top'>
                    <i ng-if="arrival.arrivalTime.length>0" class= "icon ion-android-bus" style="color:white;font-size:18px"></i>
                    <i ng-if="arrival.arrivalTime.length==0" style="font-size:18px">&nbsp;</i>
                    <hr width=100% size=1 color=#00ffff align=center noshade></hr>
                    <p class="text-center" style="margin:10px;color:white">
                        {{arrival.stationName}}
                    </p>
                </div>
            </div>
        </ion-scroll>
    </div>
</ion-view>
