<ion-view view-title="周边站点">
  <ion-nav-title ng-click="showPop($event)">
    <!--<button class="button button-clear ion-location" style="height:100%;">
      </button>-->
    <i class="icon ion-location"></i>
    {{currentStation.name}}
    <i class="icon ion-chevron-down"></i>
    <!--<button class="button button-clear ion-chevron-down" style="height:100%;">
      </button>-->
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-aperture">
      </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-refresh" ng-click="refreshBuses()">
      </button>
  </ion-nav-buttons>
  <ion-content class="dark-bg">
    <ion-refresher pulling-text="刷新公交" on-refresh="refreshBuses()"></ion-refresher>
    <ion-list can-swipe="true">
      <ion-item class="item item-dark" ng-repeat="bus in buses" href="#/tab/bus/{{bus}}">
        <h2 class="stable">{{bus.bus}}</h2>
        <span class="item-note" style="font-size: 22px;color:white">
          {{bus.distance}}
        </span>
        <p style="color:white">开往 {{bus.fromTo}} 方向</p>
        <p style="color:white">距离 {{currentStation.name}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <script id="nearbyStations-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-refresher pulling-text="刷新车站" on-refresh="refreshStations()"></ion-refresher>
        <ion-list>
          <ion-item class="item item-text-wrap" ng-repeat="station in nearbyStations" ng-click="selectStation(station)">
            <h2>{{station.name}}</h2>
            <p>{{station.address}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>

