<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="周边公交" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/nearbyBuses">
    <ion-nav-view name="tab-nearbyBuses"></ion-nav-view>
  </ion-tab>

  <ion-tab title="线路查询" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/buslineSearch">
    <ion-nav-view name="tab-buslineSearch"></ion-nav-view>
  </ion-tab>


  <ion-tab title="换乘方案" icon-off="ion-map" icon-on="ion-map" href="#/tab/busRouting">
    <ion-nav-view name="tab-busRouting"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->


</ion-tabs>
